.composition {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;

  &__photo {
    width: 40%;

    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      position: relative;
      width: 50%;
    }
  }
}
